@import "./../style/variable.scss";
.Project {
  padding: 20px 4%;
  &_content {
    position: relative;
    &_item1 {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      div {
        border: 2px solid greenyellow;
        background: burlywood;
        border-radius: 60px;
        &:hover {
          box-shadow: 1px 1px 20px #022530f7, 1px 1px 40px #13b49f8c;
        }
        img {
          position: relative;

          width: 300px;
          justify-content: center;
          display: flex;
          align-items: center;
          height: 300px;
          animation: moveUpDown 2s ease-in-out infinite;
          @keyframes moveUpDown {
            0%,
            100% {
              transform: translateY(-10px);
            }
            50% {
              transform: translateY(20px);
            }
          }
          @include breakpoint(md) {
            width: 300px;
            height: 300px;
            // margin-left: -10px;
          }
        }
      }
      span {
        p {
          margin-left: 30px;
          font-size: 20px;
          color: #ffffff;
        }
        button {
          margin-left: 30px;
          margin-top: 10px;
          background: yellowgreen;
          padding: 10px;
          border-radius: 20px;
          font-weight: 700;
          &:hover {
            box-shadow: 1px 1px 20px #022530f7, 1px 1px 40px #13b49f8c;
          }
        }
      }
      @include breakpoint(md) {
        display: flex;
        flex-direction: row;
      }
    }
  }
}
