//color

$dark: rgb(29 29 29);
$light: #ffffff;
$primary: rgb(162 162 162);
$bg: rgb(244, 244, 245);

//spacing
$spacing-md: 16px;
$spacing-lg: 32px;

//border-radius
$borderRadius: 12px;

//header height
$headerRadius: 100px;

@mixin breakpoint($point) {
  @if $point == md {
    //768px
    @media (min-width: 48em) {
      @content;
    }
  }
}
